In [1]:
%load_ext autotime
import pandas as pd
import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import plotly_express as px
import tqdm
from tqdm.notebook import tqdm_notebook

time: 2.91 s (started: 2021-04-02 01:02:33 -06:00)

In [2]:
import re
import numpy as np
import pandas as df
import dask.dataframe as dd
from dask.delayed import delayed

time: 172 ms (started: 2021-04-02 01:02:36 -06:00)

In [3]:
import os

time: 0 ns (started: 2021-04-02 01:02:37 -06:00)

In [4]:
os.getcwd()

'C:\\Users\\artur\\code\\estancias\\Neuma'

time: 0 ns (started: 2021-04-02 01:02:38 -06:00)

In [5]:
os.chdir("drone_1")
df = dd.read_parquet('drone_uno.parquet')
df = df.compute()

time: 50.9 s (started: 2021-04-02 01:02:39 -06:00)

In [6]:
df.head()

,ID,type,lon,lat,secs,speed,long_acc,lat_acc,date
0,10298011,Car,23.737695,37.977353,0,0.0,0.0,0.0,2018-10-29 08:00:00
1,10298011,Car,23.737695,37.977353,40,0.0,0.0,0.0,2018-10-29 08:00:00
2,10298011,Car,23.737695,37.977353,80,0.0,0.0,0.0,2018-10-29 08:00:00
3,10298011,Car,23.737695,37.977353,120,0.0,0.0,0.0,2018-10-29 08:00:00
4,10298011,Car,23.737695,37.977353,160,0.0,0.0,0.0,2018-10-29 08:00:00

time: 16 ms (started: 2021-04-02 01:03:30 -06:00)

In [7]:
df["geom"] = df["lat"].map(str) + "," + df["lon"].map(str)

time: 19.6 s (started: 2021-04-02 01:03:30 -06:00)

In [8]:
df.head()

,ID,type,lon,lat,secs,speed,long_acc,lat_acc,date,geom
0,10298011,Car,23.737695,37.977353,0,0.0,0.0,0.0,2018-10-29 08:00:00,"37.977353,23.737695"
1,10298011,Car,23.737695,37.977353,40,0.0,0.0,0.0,2018-10-29 08:00:00,"37.977353,23.737695"
2,10298011,Car,23.737695,37.977353,80,0.0,0.0,0.0,2018-10-29 08:00:00,"37.977353,23.737695"
3,10298011,Car,23.737695,37.977353,120,0.0,0.0,0.0,2018-10-29 08:00:00,"37.977353,23.737695"
4,10298011,Car,23.737695,37.977353,160,0.0,0.0,0.0,2018-10-29 08:00:00,"37.977353,23.737695"

time: 46 ms (started: 2021-04-02 01:03:50 -06:00)

In [9]:
df.drop(columns = ['long_acc', 'lat_acc', 'secs', 'speed', 'date'], inplace = True)

time: 1.62 s (started: 2021-04-02 01:03:50 -06:00)

In [12]:
locator = Nominatim(user_agent="myGeocoder", timeout=10)
# rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)
location = lambda coordinates : locator.reverse(coordinates).raw['address'].get('road')

time: 0 ns (started: 2021-04-02 01:04:28 -06:00)

In [14]:
sample = df.sample(100)

time: 437 ms (started: 2021-04-02 01:05:34 -06:00)

In [16]:
from tqdm import tqdm
tqdm.pandas()
sample["street"] = sample["geom"].progress_apply(location)
sample.drop(columns = ['geom'], inplace = True)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:49<00:00,  2.01it/s]

time: 49.8 s (started: 2021-04-02 01:06:21 -06:00)

In [17]:
sample.head()

               ID        type        lon        lat         street
832   10299301332         Car  23.736052  37.979570      Ακαδημίας
3418  10298301473         Car  23.737155  37.977988  Βουκουρεστίου
107   10291001894  Motorcycle  23.735204  37.980418      Ακαδημίας
1663   1029801266        Taxi  23.737420  37.979421     Λυκαβηττού
6987   1029100112         Car  23.736745  37.979119     Λυκαβηττού

time: 0 ns (started: 2021-04-02 01:07:15 -06:00)

In [18]:
sample.tail()

                ID           type        lon        lat      street
12139  10291001553     Motorcycle  23.737901  37.979041     Σόλωνος
624    10299301191            Car  23.736458  37.979009   Ακαδημίας
2142   10299301175            Car  23.737114  37.978205   Ακαδημίας
4446    1029100183  MediumVehicle  23.736726  37.979142  Λυκαβηττού
1224   10298301532            Car  23.737115  37.979258  Λυκαβηττού

time: 15 ms (started: 2021-04-02 01:07:16 -06:00)